{% extends 'base.html' %}
{%block content %}

<h1 class="h1-title">課題削除</h1>
<p class="delete-p">以下データを削除します。よろしければ削除ボタンを押してください。</p>
<div class="table-all">
    <table class="table-kadai" >
        <caption>{{obj1.KI.name}}の詳細</caption>
        <tr>
            <th>科目名</th>
            <td>{{obj1.KI.CT.name}}</td>
        </tr>
        <tr>
            <th>課題名</th>
            <td>{{obj1.KI.name}}</td>
        </tr>
        <tr>
            <th>提出日</th>
            <td>{{obj1.KI.date.year}}年{{obj1.KI.date.month}}月{{obj1.KI.date.day}}日{{obj1.KI.date.hour}}時{{obj1.KI.date.minute}}分</td>
        </tr>
        <tr>
            <th>概要</th>
            <td>{{obj1.KI.overview}}</td>
        </tr>
        <tr>
            <th>獲得点数</th>
            <td>{{obj1.point}}</td>
        </tr>
        <tr>
            <th>提出状況</th>
            <td>
                {% if obj1.status == 0 %}
                    未提出
                {% else %}
                    提出済み
                {% endif %}
            </td>
        </tr>
        <form action="{% url 'mysite:kadai_delete' kadai_id %}" method="post">
            {% csrf_token %}
            <tr><th></th><td><span style="float: right;"><input type="submit" value="削除" class="CT-info-bttton2"></span></td></tr>
        </form>
        


    </table>
</div>
{%endblock%}